
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{title}}</h2>
            {{>footer}}

        </div>
    </body>
</html>